@import 'tailwindcss';
@plugin "tailwind-clamp" {
  minsize: 390px;
  maxsize: 1280px;
}

:root {
  interpolate-size: allow-keywords;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@theme {
  --color-tint: rgb(158, 28, 100);
  --color-mono: rgb(122, 122, 122);
  --color-mono-a: rgb(122, 122, 122, 0.2);
  --color-brand: rgb(19, 16, 33);
  --color-inverted: rgb(255, 255, 255);
  --color-text: rgb(21, 19, 27);

  --font-body: var(--font-jost);
  --font-title: var(--font-tenor);

  --clamp-main-top-space: 100px, 200px;
  --clamp-main-bottom-space: 50px, 150px;
}

@layer components {
  .split-text-container {
    @apply invisible;
  }

  .image-label {
    @apply text-medium text-text bg-inverted w-[26ch] p-2;
  }
}

@utility text-h2 {
  @apply text-[42px] leading-[1.2em] font-body;
}

@utility text-h3 {
  @apply text-[32px] leading-[1.4em] tracking-[0.04em] font-body;
}

@utility text-h4 {
  @apply text-[24px] leading-[1.4em] tracking-[0.04em] font-body;
}

@utility text-byline {
  @apply text-[24px] leading-[1.6em] font-body italic font-light;
}

@utility text-medium {
  @apply text-[16px] leading-[1.6em] tracking-[0.026em] font-body;
}

@utility text-journal-excerpt {
  @apply text-[18px] leading-[1.6em] tracking-[0.026em] font-body italic font-light;
}

@utility text-quote {
  @apply clamp-[text,22px,40px,390px,1800px] leading-[1.6em] tracking-[0.026em] font-body font-light;
}

@utility text-label {
  @apply text-[16px] leading-[1.4em] tracking-[0.03em] font-body;
}

@utility text-journal-body {
  @apply text-[21px] leading-[1.9em] tracking-[0.04em] font-body;
}

@utility text-masthead {
  @apply font-title clamp-[text,40px,130px,390px,2560px] leading-none tracking-[-.04em] uppercase;
}

@utility main-container {
  @apply clamp-[px,20px,50px] overflow-x-clip;
}

@utility main-spacing {
  @apply mt-(--clamp-main-top-space) mb-(--clamp-main-bottom-space);
}

@utility main-grid {
  @apply grid grid-cols-12 clamp-[gap,15px,20px];
}

@utility aspect-cover {
  height: auto;
  aspect-ratio: 17 / 11;
}

@utility aspect-page {
  height: auto;
  aspect-ratio: 17 / 22;
}

@utility aspect-page-fixed {
  width: auto;
  aspect-ratio: 17 / 22;
}

@utility aspect-anamorphic {
  height: auto;
  aspect-ratio: 2.39 / 1;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  body {
    @apply text-text bg-inverted font-body;
    @apply text-[20px] leading-[1.8] tracking-[0.026em];
  }
  button:focus-visible {
    outline: none;
  }
}

@custom-variant list-view {
  &:where([data-view='list'] *) {
    @slot;
  }
}

@custom-variant grid-view {
  &:where([data-view='grid'] *) {
    @slot;
  }
}
